body{font-family:'Arial',sans-serif;margin:0}
header{position:fixed;text-align:-webkit-center;background-color:#fff;color:#03477d;padding:5px;border-bottom:2px solid #4faadf;top:0;left:0;right:0;z-index:10}
header .container{display:flex;justify-content:space-between}
.container{max-width:1700px;width:calc(100% - 100px);margin:auto}
nav.right{display:flex;align-items:center}
header a{font-weight:700;font-size:18px}
.right a{display:flex;gap:7px;align-items:center;text-decoration:none;color:#1d487b;line-height:0;padding:5px 20px}
.right a:not(:last-child){border-right:1px solid #4faadf}
.right a:hover{color:#00142d}
.right a .icon{width:24px;height:24px;background-size:contain;margin-left:5px;fill:currentColor;}
main{min-height:100vh;padding:90px 0;background:rgb(223 241 255);background:linear-gradient(0deg,rgb(209 235 255) 28%,rgb(202 246 255) 100%)}
input,select{font-size:16px}
ul{list-style-type:none;padding:0}
ul li{margin-bottom:10px;padding:10px;background-color:#f2f2f2;border-radius:5px}
ul li p{margin:5px 0}
ul li a{color:#007140;text-decoration:none;font-weight:700;transition:color 0.3s}
ul li a:hover{color:#acf571}
table thead{background:#d5d5d5}thead th{padding:5px}
tr.data th,tr.data td{border-right:1px solid #cfcfcf}
tr.data th:last-child,tr.data td:last-child{border-right:0}
table input{margin-bottom:0}
table{width:calc(100% - 150px);border:1px solid;text-align:center;border-collapse:collapse}
table td{padding:5px;border-top:2px solid;border-bottom:2px solid}
.full_content{width:calc(100% - 150px);margin:auto;text-align:right}
a.add_acto{padding:10px 30px;background:#326e44;color:#fff;text-decoration:none;font-weight:700;border:2px solid #0a2512;border-radius:7px}
a.add_acto:hover{border:4px solid}
h2 span a{color:#007140;text-decoration:underline;transition:color 0.3s,text-decoration 0.3s}
h2 span a:hover{color:#004d26;text-decoration:none}
td form{display:flex;justify-content:space-evenly}
td input{width:300px}
td .inputDesc{border:none;margin-bottom:0;font-size:16px;cursor:pointer}
td .inputDesc:hover{background:#e5e5e5}
.form-box{max-width:400px;margin:40px auto}
.form-box label{display:block;margin-bottom:5px}
.form-box input,.form-box select{width:-webkit-fill-available;padding:8px;margin-bottom:10px}
.form-box input[type="submit"]{background-color:#1d487b;color:#fff;padding:10px;border:none;border-radius:5px;cursor:pointer;transition:background-color 0.3s}
.form-box input[type="submit"]:hover{background-color:#004d26}
form.update{max-width:400px;margin:20px auto}
fieldset{border-radius:5px;padding:20px;width:100%}
legend{font-weight:700;margin-bottom:10px}
label{font-weight:700;margin-bottom:10px}
input{width:-webkit-fill-available;padding:8px;margin-bottom:15px;border:1px solid #ccc;border-radius:5px}
input[type="submit"]{background-color:#1d487b;color:#fff;padding:10px 20px;border:none;border-radius:5px;cursor:pointer;transition:background-color 0.3s}
input[type="submit"]:hover{background-color:#004d26}
.acciones{display:flex;flex-direction:column;gap:2px}
a.secondary_a{padding:3px 3px;background:#326e44;color:#fff;text-decoration:none;border:2px solid #0a2512;border-radius:7px}
.alert-container{position:fixed;top:80px;right:25px;max-width:calc(100% - 100px);width:420px}
.alert{margin:10px 0;animation:deleteAlert 5s forwards;position:relative;margin-left:0px;width:inherit;}
.alert .notification{display:flex;gap:83px;justify-content:space-between;align-items:center;padding:10px;font-size:.9rem;font-weight:300}
.alert .progressbar{height:2px;width:100%;background-color:currentColor;transform-origin:left;transform:scaleX(0);animation:progressBarAnimation 5s linear forwards}
@keyframes progressBarAnimation{to{transform:scaleX(1)}}
@keyframes deleteAlert{95%{opacity:1;margin-left:0px}to{opacity:0;display:none;margin-left:100px}}
.alert:hover{cursor:pointer}
.alert:before{padding-right:12px}
.alert-error{color:#D8000C;background-color:#ffdada;border-left:3px solid #D8000C}
.alert-success{color:#4F8A10;background-color:#DFF2BF;border-left:3px solid #4F8A10}
.alert-closed{border-bottom-width:0}
.table table{width:100%;border-collapse:collapse;}
.table .caption{font-size:1.5em;background:#bacad4;padding:10px;font-weight:bold;display:flex;justify-content:space-between;}
.table th, .calendar td{border:1px solid #ddd;text-align:center;padding:10px;}
.table th{background-color:#f2f2f2;}
.table td{width:100px;height:100px;vertical-align:top;}
.table .dia{padding:4px;background:#c9e4ee;border-radius:5px;}
.table li.ins{background:#8eff8e;padding:2px;display:flex;justify-content:space-between;}
.table li.noins{background:#ff7474;padding:2px;display:flex;justify-content:space-between;}
.table li.speaker{background:#ffae00;padding:2px;display:flex;justify-content:space-between;}
.table li button{background:#ffffff80;border:1px solid;border-radius:5px;cursor:pointer;}
.evento{display:flex;justify-content:space-between;}
.popup{position:fixed;left:0;right:0;top:0;bottom:0;display:none;}
.popup.active{display:flex;}
.popup .close{position:fixed;top:100px;right:100px;font-size:100px;color:white;z-index:2;cursor:pointer;}
.popup .back{background:rgba(0, 0, 0, 0.5);width:100%;height:100%;position:absolute;z-index:1;}
.popup .info_popup{background-color:#e4e4e4;padding:20px;margin:auto;max-width:400px;z-index:2;}
.popup .info{background:white;padding:20px;margin:auto;max-width:400px;z-index:2;}
.popup button{width:100%;color:white;padding:10px;border:1px solid;margin-top:15px;}
.popup button.ins{background-color:#b00000;}
.popup button.speaker{background-color:#959595;cursor:no-drop;}
.popup button.noins{background-color:#006200;}
